*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media  screen and (max-width: 768px) {
    body {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Noo img {
        width: 200px;
        height: auto;
        margin-top: 100%;
        border: 4px solid black;
        border-radius: 10px;
    }

    .Noo p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 10px;
        font-size:18px;
    }

    button {
        width:  150px;
        height: 50px;
        background-color: fuchsia;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        margin-top: 25px;
        border: none;
        border-radius: 60px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        transform: scale(1.1);
        background-color: pink;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)    {
        body {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Noo img {
        width: 200px;
        height: auto;
        margin-top: 100%;
        border: 4px solid black;
        border-radius: 10px;
    }

    .Noo p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 10px;
        font-size:18px;
    }

    button {
        width:  150px;
        height: 50px;
        background-color: fuchsia;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        margin-top: 25px;
        border: none;
        border-radius: 60px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        transform: scale(1.1);
        background-color: pink;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
        body {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Noo img {
        width: 200px;
        height: auto;
        margin-top: 100%;
        border: 4px solid black;
        border-radius: 10px;
    }

    .Noo p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 10px;
        font-size:18px;
    }

    button {
        width:  150px;
        height: 50px;
        background-color: fuchsia;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        margin-top: 25px;
        border: none;
        border-radius: 60px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        transform: scale(1.1);
        background-color: pink;
    }

    a {
        text-decoration: none;
        color: white;
    }
    
}